a {
	background-color: transparent;
	text-decoration: none;
        -webkit-box-shadow: inset 0 0 0 0 #85cf9b;
        box-shadow: inset 0 0 0 0 #85cf9b;
        -webkit-transition: box-shadow ease 1s;
        -moz-transition: box-shadow ease 1s;
        transition: box-shadow ease 1s;
}

a:hover {
	outline-width: 0;
	color: #fff;
        -webkit-box-shadow: inset 0 -100px 0 0 #85cf9b;
        box-shadow: inset 0 -100px 0 0 #85cf9b;
	text-decoration: none;
}
